# Data Analytics II
1. Implement logistic regression using Python/R to perform classification on 
Social_Network_Ads.csv dataset.
2. Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision, Recall 
on the given dataset.

In [77]:
import numpy as np
import pandas as pd
data = pd.read_csv("Social_Network_Ads.csv")

In [90]:
data.head()

    User ID  Age  EstimatedSalary  Purchased  Gender
0  15624510   19            19000          0    Male
1  15810944   35            20000          0    Male
2  15668575   26            43000          0  Female
3  15603246   27            57000          0  Female
4  15804002   19            76000          0    Male

In [92]:
data.isnull().sum()

User ID            0
Age                0
EstimatedSalary    0
Purchased          0
Gender             0
dtype: int64

In [95]:
#predicating the user will perchase the product or not
x = data.iloc[:, [1,2]]
x

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [96]:
y = data['Purchased']
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [97]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25, random_state=0)

In [98]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [99]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=0)

In [100]:
classifier.fit(x_train, y_train)

LogisticRegression(random_state=0)

In [101]:
y_predict = classifier.predict(x_test)
y_predict

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1], dtype=int64)

In [102]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score,precision_score,f1_score,recall_score,mean_squared_error
cm = confusion_matrix(y_test,y_predict)
print(cm)

[[63  5]
 [ 8 24]]

In [103]:
print("accuracy score", accuracy_score(y_test, y_predict))

accuracy score 0.87

In [104]:
print("recall score", recall_score(y_test,y_predict))

recall score 0.75

In [105]:
print("F1 score",f1_score(y_test,y_predict))

F1 score 0.7868852459016394

In [106]:
print("Precision score", precision_score(y_test,y_predict))

Precision score 0.8275862068965517

In [107]:
print("Mean Squred Error", mean_squared_error(y_test,y_predict))

Mean Squred Error 0.13

In [109]:
cl = classification_report(y_test,y_predict)
print(cl)

              precision    recall  f1-score   support

           0       0.89      0.93      0.91        68
           1       0.83      0.75      0.79        32

    accuracy                           0.87       100
   macro avg       0.86      0.84      0.85       100
weighted avg       0.87      0.87      0.87       100