# Data Analytics I
1. Create a Linear Regression Model using Python/R to predict home prices using Boston Housing Dataset (https://www.kaggle.com/c/boston-housing). 
2. The Boston Housing dataset contains information about various houses in Boston through different parameters. There are 506 samples and 14 feature variables in this dataset. 
The objective is to predict the value of prices of the house using the given features.

In [13]:
import numpy as nm
import pandas as pd
import sklearn
from sklearn.datasets import load_boston
boston = load_boston()

In [14]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [6]:
boston.data.shape

(506, 13)

In [7]:
# Print column names
print(boston.feature_names)

['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [8]:
data = pd.DataFrame(data= boston.data , columns=boston.feature_names )
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [18]:
data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [19]:
data.keys()

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [21]:
data.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [16]:
x = data[['CRIM', 'ZN', 'INDUS']]
y = data['AGE']

In [21]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.9, random_state=0)

In [25]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [27]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)

In [28]:
print(y_pred)

[ 55.52688401  83.60998717  73.25702942  89.3318883   71.47282007
  63.88232724  81.99418424  58.76797951  67.54751632  64.43436263
 107.24150427  85.38079455  82.52795492  89.18198121  83.35246437
  16.76020943  82.3574085   10.2571347   56.87383944  60.05547494
  62.44933315  83.52891666  64.39849738  39.60421927  61.66904236
  85.18656582  63.96488823  83.46838051  54.96446579  66.84353361
  83.97775385  82.716524    48.2721911   42.45228143  56.88307863
  81.76879806  89.42170761  83.25532221  83.33796773  82.56656178
  73.29531152  61.67526797  55.51887231  83.17760867  53.26605984
  61.88218941  73.31676672  83.19813981  83.70011725  64.40492512
  83.97768609  66.29546527  60.62253853  48.3355387   86.87923448
  56.61230113  41.66119061  57.4374758   99.00991807  67.79066261
  21.15153413  66.7536923   42.25936582  60.58754429  85.02225236
  32.03153897  82.21670017  56.66048529  85.5232412   67.77668255
  71.48938372  71.48702798  13.33244874  27.26210797  82.31483988
  88.52167704  60.54700432  67.81096015  55.80212745  66.32831694
  42.4472833   86.6499674   84.60917178  60.54107272  60.61883771
  62.49926666  54.96233791  84.71799132  83.20224489  82.1622757
  17.02202315  84.31858208  13.78604613  16.75600512  69.97263196
  48.3248405   87.01529269   6.30272138  81.96357071  45.45073817
  67.77818934  64.39733973  60.55678742  68.15079235  42.45491647
  56.6102835   89.75044478  81.57569392  69.97184549  42.2566683
  83.12821379  82.93802928  56.63095958  66.8098918   56.65546878
  67.77648042  85.24386054  86.73733174  84.47201726   4.43243575
  32.01070854  83.15434165  61.68681144  66.31756361  66.70736039
  92.81023624  36.27714351  48.27026535  45.43381804  39.61337392
  83.42051769  84.19870051  96.28894723  83.12227484  84.55816147
   4.44836928  60.54662946  83.89905377  48.27004484  86.86329079
  88.90796619  66.33242937  54.22613419  48.3837375   71.48108903
  63.89868876   2.21593629  53.76457823  82.92451228  86.39552481
  66.76012739  53.75017186  87.11902335  51.13154226  86.72547221
  16.76353539  92.80821494  64.10469983  53.63392402  64.11180012
  85.79479391  63.88621181  45.0656979   60.59532814  43.14102261
  62.47631937  62.51678583  44.96320129  81.88622835  85.12688229
  23.19254362  85.73827096  81.57428268  83.14654516  81.09117685
  86.78321049  66.29503896  66.33611549  81.92480581  48.37997788
  83.06604751  94.05813292  58.75796856  83.50262504  64.41320879
  62.45824893  45.44235161  11.06286849  54.22548003  82.26812576
  84.13901698  46.4198078   55.80439866  66.67213829  46.31515582
  60.29857644  42.23561369  81.37968277  66.86943572  45.07460632
  60.30345697  63.94675899  46.31281111  10.25624165  83.55296648
  83.17204297  83.28735272  48.25151134  81.5671383   83.34015648
  57.60222456  60.61650403  85.51680979  13.33537044  66.67512614
  83.64916     86.6273913   64.39230485  83.39406069  61.88218206
  90.74830635  60.57502324  63.93995639  83.47053779  13.78137509
  81.63183098  64.06733883  66.81420268  42.4435788   64.42805984
  81.93286897  66.67795228  56.87515513  48.23016272  66.81025931
  83.52395529  83.7907577   92.79939471  46.31867288  66.80721265
  81.49386059  11.97348586  82.35635742  86.63905605  32.01863571
  21.15412875  54.2302062   92.91639501   7.35744616  64.24448204
  87.13024963  83.82725506  83.44821688  60.63661047  86.64169476
  64.07502345  82.32328525  61.65113363  45.45896671   2.22097852
  51.14900263  31.1529641   73.25572108  68.16425422  60.04960582
  84.92199579  64.02016532  81.8913551   57.42627044  83.23082036
  73.2408149   64.00300998  81.84225952  73.31246319  83.57771456
  58.765576    83.59334635  86.61228666  67.80636628  64.40159549
  10.90684074  31.01571571  10.93020699  67.79932113  83.66817494
  32.0160705   67.83295927   4.22923324  60.58979712  46.35784204
  53.60538691  63.92748312  73.2317999   60.65109402  86.84435048
  66.79896207  83.41730038  84.64485694  83.86145549  15.28303048
  39.5956416   81.62710481  71.4828935   66.69591982  66.72669873
  63.88319823  31.15139851  97.02915256  66.31214653  60.53477361
  83.2163352   44.95985328  69.97753821  85.48479972  64.38995646
  83.68329634  83.09256538  64.0390847   27.26024837  64.44717768
  87.83042858  86.72059904  60.61328832  46.31501249  81.56881046
  66.66907326  69.97822545 105.17856365  48.26036465  41.65546849
  82.77568567  63.91849384  55.52649078  73.28467948  51.12274041
  60.56562603  85.33033551  53.75109798   5.7803761   92.83615668
  45.06523116  10.6487787   71.48406953  54.23542483 112.91662145
  81.25281117  39.61019497  73.29506897  82.29947431  54.23834653
  83.24828073  44.96191868  36.26769485  46.36036315  56.62100742
  87.4235589   57.60021428  46.40526913  60.06183285  82.3088017
  45.4526235   61.6528793   51.1993698   48.39664811  67.88667444
  83.74354377  85.44896755  82.79789794  92.8293063   60.65435015
  45.43638693  86.05102148  86.64545806  32.01425133  64.01501284
  61.6646102   83.86450582  44.41793828   9.77830433  82.01717195
  82.58527904  54.95014762  31.0035438   36.26983743  66.29337782
  56.87375859  82.30080102   8.65704935  60.3037914   81.70118368
  54.96491047  85.94124641  83.57876197  53.6312118   36.26970512
  61.69934351  34.09667395  84.29936134  83.03656958  67.81915561
  45.1293983   60.57673951  83.5351974   84.18436971  58.75911151
  54.22910367  83.51835237  86.95889949  83.7133786   69.9954837
  46.30767333  62.51309236   4.23474955  57.59974019  92.80037229
  96.30552926  88.3210169   81.60437068  81.98553307  87.59841988
  55.79936378  44.96025019  46.32906238  66.81510308  82.12872944
  15.97608366  -0.68475663  86.04583959  62.45447461  46.34126369
  85.83551395  82.08771539  61.65804648  64.39903027  85.48479972
  81.81525125  51.17096867  82.68585534  60.09035526  83.2128712
  48.38234464  84.29175389  83.87982729  86.6400814   15.95997205
  63.93583661  54.24167249  82.62008585  83.23679078  83.22844831
  48.27568611   9.77364431  64.14962786  64.1618549   86.61572287
  54.22711544]

In [30]:
from sklearn.metrics import mean_squared_error
rsme = nm.sqrt(mean_squared_error(y_test,y_pred))
print("Root Mean Squared Error is: ")
print(rsme)

Root Mean Squared Error is:
20.67601856264001

In [31]:
print("Accuracy of Training is: ")
lr.score(x_train, y_train)

Accuracy of Training is:

0.5266689843173549

In [32]:
print("Accuracy of Testing is: ")
lr.score(x_test, y_test)

Accuracy of Testing is:

0.44962353195221005